@import url(./styles.css);
body {
  background-color: var(--clr-bg-dark-2);
}
img {
  width: 200px;
}
.page__header {
  font-family: var(--header-font);
  text-align: center;
  color: white;
}

.country__container {
  width: 60%;
  margin: auto;
  padding: 2rem 2rem 0 2rem;
}
.country__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--clr-primary);

  gap: 3.5rem;
}
.country__header {
  background-color: var(--clr-bg-dark-1);
  position: relative;
  bottom: 3.8rem;
}
.country__header h2 {
  margin: 0 0.1rem;
  text-transform: uppercase;
}

.country__list li {
  padding: 0;
  margin: 2rem 0;
  height: 20rem;
}

.country__header--flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .country__list li {
    margin: 0 0;
  }
}

@media screen and (max-width: 799px) {
  .country__list li {
    margin: 0 0;
  }
  .country__list {
    margin: 0 0;
    flex-direction: column;
    gap: 1rem;
  }
}
