<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>countries</title>
    <link rel="stylesheet" href="../CSS/countries.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="page__header">
      <h1>Wished To Visit</h1>
    </header>
    <div class="country__container">
      <ul class="country__list">
        <li>
          <img
            src="../assets/icons/contries_flag/mexico.png"
            alt=""
            class="country__img"
          />

          <div class="country__header country__header--flex">
            <h2>Mexico</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/brazil.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>brazil</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/canada.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>canada</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/germany.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>germany</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/france.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>france</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/japan.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>japan</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/south-korea.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>S-korea</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
        <li>
          <img
            src="../assets/icons/contries_flag/united-states.png"
            alt=""
            class="country__img"
          />
          <div class="country__header country__header--flex">
            <h2>usa</h2>
            <h2 class="emo">❤</h2>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
