<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hobbies</title>
    <link rel="stylesheet" href="../CSS/hobbies.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="hobbies__header"><h1>Hobbies</h1></header>
    <div class="hobbies__container">
      <div class="card">
        <div class="hobbies__img">
          <img
            src="../assets/imgs/hobbies/learning.jpg"
            alt=""
            class="card__img"
          />
        </div>
        <div class="card__header">
          <h2 class="card__title">Learning</h2>
        </div>
        <div class="card__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto
            modi, ratione reiciendis hic dolores sunt. Molestiae ipsa voluptate
            qui.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="hobbies__img">
          <img
            src="../assets/imgs/hobbies/chess.jpg"
            alt=""
            class="card__img"
          />
        </div>
        <div class="card__header">
          <h2 class="card__title">Playing Chess</h2>
        </div>
        <div class="card__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto
            modi, ratione reiciendis hic dolores sunt. Molestiae ipsa voluptate
            qui.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="hobbies__img">
          <img
            src="../assets/imgs/hobbies/reading.png"
            alt=""
            class="card__img"
          />
        </div>
        <div class="card__header">
          <h2 class="card__title">Reading</h2>
        </div>
        <div class="card__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto
            modi, ratione reiciendis hic dolores sunt. Molestiae ipsa voluptate
            qui.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
