<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/home.css" />
    <title>home</title>
  </head>
  <body class="home">
    <div class="container__hero">
      <div class="hero__header">
        <p>Hi everyone, my name is</p>
        <h1>
          John <br />
          Morales
        </h1>
        <p class="hero__end">
          I'm Creative <br />
          Web Developer
        </p>
      </div>

      <div class="hero__img">
        <img src="../assets/imgs/character/ch1.png" alt="" />
      </div>
    </div>
  </body>
</html>
